<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div id="page-content" class="page-content {{main.classLateralContent}}">		
		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 			
				
			<div class="content-fullscreen">
				<iframe class="responsive-image maps no-bottom" src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
				<a href="pageapp-map-full.html" class="button button-dark button-xs button-full uppercase bold">FullScreen Map</a>
			</div>
			<div class="content">
				<div class="container heading-style">
					<i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
                    <h4 class="heading-title">Contacto</h4>
					<p class="heading-subtitle">
						Llama o contacta con nuestras oficinas y resólveremos todas tus dudas. Siempre a tu disposición!
					</p>
				</div>
				<div class="container no-bottom">
					<div class="contact-form no-bottom">
						<div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
							<div class="notification-large notification-has-icon notification-green">
								<div class="notification-icon"><i class="fa fa-check notification-icon"></i></div>
								<h1 class="uppercase ultrabold">Message sent</h1>
								<p>We'll get back to you in the shorts possible time.</p>
								<a href="javascript:void(0)" class="close-notification"><i class="fa fa-times"></i></a>
							</div>				
						</div>
						<form action="php/contact.php" method="post" class="contactForm" id="contactForm">
							<fieldset>
								<div class="formValidationError bg-red-dark" id="contactNameFieldError">
									<p class="center-text uppercase small-text color-white">Name is required!</p>
								</div>
								<div class="formValidationError bg-red-dark" id="contactEmailFieldError">
									<p class="center-text uppercase small-text color-white">Mail address required!</p>
								</div>
								<div class="formValidationError bg-red-dark" id="contactEmailFieldError2">
									<p class="center-text uppercase small-text color-white">Mail address must be valid!</p>
								</div>
								<div class="formValidationError bg-red-dark" id="contactMessageTextareaError">
									<p class="center-text uppercase small-text color-white">Message field is empty!</p>
								</div>
								<div class="formFieldWrap">
									<label class="field-title contactNameField" for="contactNameField">Nombre:<span>(obligatorio)</span>
									</label>
									<input type="text" name="contactNameField" value="" class="contactField requiredField" id="contactNameField" />
								</div>
								<div class="formFieldWrap">
									<label class="field-title contactEmailField" for="contactEmailField">Email: <span>(obligatorio)</span>
									</label>
									<input type="text" name="contactEmailField" value="" class="contactField requiredField requiredEmailField" id="contactEmailField" />
								</div>
								<div class="formTextareaWrap">
									<label class="field-title contactMessageTextarea" for="contactMessageTextarea">Mensaje: <span>(obligatorio)</span>
									</label>
									<textarea name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
								</div>
								<div class="formSubmitButtonErrorsWrap contactFormButton">
									<input type="submit" class="buttonWrap button bg-blue-dark button-sm button-rounded uppercase ultrabold contactSubmitButton" id="contactSubmitButton" value="Enviar" data-formId="contactForm" />
								</div>
							</fieldset>
						</form>			
					</div>
				</div>
				<div class="decoration"></div>
				<div class="contact-information last-column">
					<div class="container no-bottom">
						<h4>Información de contacto</h4>
						<p class="contact-information">
							<strong>ATENCIÓN TELEFÓNICA</strong>
							<br> de Lunes a Viernes
							<br> de 08:00 a 21:00 h.
							<br> 902 002 068
						</p>
						<p class="contact-information">
							<strong>CHAT</strong>
							<br> de Lunes a Viernes
							<br> de 08:00 a 21:00 h.
						</p>
						<p class="contact-information">
							<strong>EMAIL</strong>
							<br>
							<a href="mailto:info@mallorcaislandfestival.com"><i class="fa fa-envelope-square color-blue-dark"></i>info@mallorcaislandfestival.com</a>
							<a href="mailto:reservas@mallorcaislandfestival.com"><i class="fa fa-envelope-square color-blue-dark"></i>reservas@mallorcaislandfestival.com</a>
							<p class="contact-information">
								<strong>WEB</strong>
								<br><a class="no-border" href="https://www.mallorcaislandfestival.com"><i class="fa fa-envelope font-14 mail-color"></i>www.mallorcaislandfestival.com</a></br>
							</p>
						</p>
						<p class="contact-information">
							<strong>GRUPO FINALIA</strong>
							<br> C/Girona, 34
							<br> 08700 Igualada, Spain
						</p>
						<p class="contact-information">
							<strong>REDES SOCIALES</strong>
							<a href="javascript:void(0)"><i class="fab fa-facebook-square facebook-color"></i>Facebook</a>
							<a href="javascript:void(0)"><i class="fab fa-twitter-square twitter-color"></i>Twitter</a>
							<a href="javascript:void(0)"><i class="fab fa-google-plus-square google-color"></i>Google+</a>
							<a href="javascript:void(0)"><i class="fab fa-youtube-square google-color"></i>Youtube</a>
							
						</p>
					</div>
				</div>
			</div>
			
		</div>  
	</div>
</ion-content>