<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div id="page-content" class="page-content {{main.classLateralContent}}">
	<div id="page-content-scroll"><!--Enables this element to be scrolled --> 	
		
		<div class="content header-clear-large">			
			<div class="blog-categories blog-categories-3 small-bottom">
				
				<a *ngFor="let i of list" href="javascript:void(0)" (click)="presentModal(i.fotos)"><strong></strong><em>{{i.nombre}}</em><span class="bg-red-dark opacity-50"></span><img src="{{i.portada}}" class="preload-image responsive-image" alt="img"></a>
				
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>					
</ion-content>