.menuTop {
    position: initial !important;
    margin-top: 6vh;
}

.header ion-title {
    background: #212121;
    height: 7vh;
    padding: 0 120px;
}

.toolbar-background, .toolbar-container {    
    height: 9vh !important;
}

.menuBottom ion-tab-button{
	background:#212121;
}

ion-tab-button ion-label{
	font-size:10px !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
}


ion-tab-button ion-label.hydrated{
	color: #fff;
}

ion-tab-button.activated ion-label.hydrated{
	color: #f44336;
}

.menuTop ion-tab-button {
    background: transparent;
}

.menuTop ion-tab-bar{
	background: linear-gradient(to bottom,#e3508c,#1c9fe8);
	height: 70px;
	border: 0;
	position:relative;
	height: 140px;
}

.sc-ion-card-ios-h {    
    margin-top: 65px;
}

.closeTopMenu {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
}